@using Wycieczki.ViewModels;
@model TravelDetailsViewModels

<div>
    <p>Country: @Model.Country</p>
    <p>City: @Model.City</p>
    <p>PricePerPerson: @Model.PricePerPerson</p>
    <p>Description: @Model.Description</p>
    <p>NumberOfDays:@Model.NumberOfDays</p>
</div>

